<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script data-require="vue.js@*" data-semver="10.0.26" src="https://cdn.jsdelivr.net/vue/2.0.2/vue.min.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class id="card">
    <div class="row">
      <h1 class="text-center myTitle">{{ title }}</h1>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
          <input type="text" class="form-control" id="addTodosInput" v-on:keyup.enter="addItem" placeholder="Add new todo item">
          <span class="input-group-btn"><button id="toggleCompletion" class="btn btn-default" type="button" v-on:click="">Toggle Completion</button></span>
        </div>
      </div>
    </div>

    <br>

    <div class="container">

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <ul id="todos" class="list-group">
            <li class="todo-item list-group-item clearfix" v-for="(item, index) in items">
              <button type="button" v-on:click="checkItem(index)" class="btn btn-default pull-left btnFromLeft btnWithSpecialDefault"><span class="glyphicon glyphicon-unchecked"></span></button>
              <span v-if="!(activeEditorIndex === index && activeEditorCompleted ===false)" v-on:click="spanClicked(event, index, false)"> 
                {{ item.text }}
              </span>
              <input type="text" v-if="activeEditorIndex === index && activeEditorCompleted === false" v-on:keyup="changed(event, index)" v-on:blur="blurred(event, index, false)" v-model="item.text"/>

              <!-- <span contenteditable="true" v-on:keyup="changed" v-on:blur="changed" v-on:paste="changed" v-on:delete="changed" v-on:focus="changed"> -->
                <!-- {{ item.text }} -->
              <!--</span>-->
              <button v-on:click="deleteItem(index)" type="button" class="btn btn-default pull-right btnWithSpecialDefault"><span class="glyphicon glyphicon-remove"></span></button>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <ul id="doneTodos" class="list-group">
            <li class="todo-item list-group-item clearfix" v-for="(item, index) in itemsCompleted">
            <button type="button" v-on:click="uncheckItem(index)" class="btn btn-default pull-left btnFromLeft btnWithSpecialDefault"><span class="glyphicon glyphicon-check"></span></button>
            <span v-if="!(activeEditorIndex === index && activeEditorCompleted ===true)" v-on:click="spanClicked(event, index, true)"> 
              {{ item.text }}
            </span>
            <input type="text" v-if="activeEditorIndex === index && activeEditorCompleted === true" v-on:keyup="changed(event, index)" v-on:blur="blurred(event, index, true)" v-model="item.text"/>
            <button v-on:click="deleteItemCompleted(index)" type="button" class="btn btn-default pull-right btnWithSpecialDefault"><span class="glyphicon glyphicon-remove"></span></button>
            </li>
          </ul>
        </div>
      </div>

    </div>






    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2">
          <p>{{totalLeft}} left</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-md-offset-2 col-sm-offset-2 col-xs-8">
          <div class="btn-group" role="group">
            <button type="button" id="showAll" class="btn btn-success disabled">All</button>
            <button type="button" id="showActive" class="btn btn-default disabled">Active</button>
            <button type="button" id="showCompleted" class="btn btn-default disabled">Completed</button>
          </div>
          <button type="button" v-on:click="clearCompleted" class="btn btn-danger">Clear completed</button>
        </div>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>

</html>