<div class="container">
	<div class="row">
    	<h1 class="text-center myTitle">{{title}}</h1>
    </div>
</div>

<div class="container">
    <form class="form" id="addTodosForm">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="input-group">
                    <input type="text" id="addTodosInput" class="form-control" placeholder="Add new todo item">
                    <span class="input-group-btn">
        			<button id="toggleCompletion" class="btn btn-default" type="button">Toggle completion</button>
      				</span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </form>
</div>

<br>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
	    	<ul id="todos" class="list-group">
	    	</ul>
	    </div>
    </div>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
	    	<ul id="doneTodos" class="list-group">
	    	</ul>
	    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2">
        	<span id="itemsLeftToDo"></span>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-md-offset-2 col-sm-offset-2 col-xs-8">
            <div class="btn-group" role="group">
                <button type="button" id="showAll" class="btn btn-success">All</button>
                <button type="button" id="showActive" class="btn btn-default">Active</button>
                <button type="button" id="showCompleted" class="btn btn-default">Completed</button>
            </div>
            <button type="button" id="clearCompleted" class="btn btn-danger">Clear completed</button>

            <!--     <button type="button" id="removeAll" class="btn btn-danger pull-right">Remove all</button>
		    <button type="button" id="markAllNotDone" class="btn btn-warning pull-right">
		        Mark all as Not-Done</button>
		    <button type="button" id="markAllDone" class="btn btn-success pull-right"><span class="glyphicon glyphicon-heart"></span>Mark all as Done</button> -->

        </div>
    </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="/javascripts/index.js"></script>
{{/extend}}