body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.list-group {
    line-height: 30px
}

.todo-item.done-todo span.todo-title {
	text-decoration: line-through;
}
