body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.list-group,
#addTodosInput {
    line-height: 30px
}

.todo-item.done-todo span.todo-title {
    text-decoration: line-through;
}

.btn .btnFromLeft {
    margin-right: 5px;
}

.btnWithSpecialDefault:active:focus,
.btnWithSpecialDefault:active:hover,
.btnWithSpecialDefault,
.btnWithSpecialDefault:hover,
.btnWithSpecialDefault:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.list-group-item {
    border: transparent;
}

.myTitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.doneTodosContainer {
    padding-top: 30px;
}